body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== Home ===== */

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.home-card {
  background: #e6e6e6;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.home-card h1 {
  margin-bottom: 15px;
}

.home-card p {
  margin-bottom: 25px;
}

.home-card button {
  padding: 12px 20px;
  cursor: pointer;
}


/* ===== Login ===== */

.auth-wrapper {
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 420px;
  background: #e6e6e6;
  padding: 50px;
  border-radius: 20px;
}

.auth-card h2 {
  margin-bottom: 30px;
  font-size: 32px;
}

.auth-card input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 16px;
}

.auth-card button {
  width: 100%;
  padding: 15px;
  border: 1px solid #999;
  background: #ddd;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-link {
  margin-top: 15px;
  color: blue;
  cursor: pointer;
}
