body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
}

.card input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

.card button {
  width: 100%;
  padding: 10px;
}

.chat-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: #111b21;
  color: white;
  padding: 20px;
}

.chat-window {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #202c33;
  color: white;
  padding: 15px;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.bubble {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.bubble.me {
  background: #dcf8c6;
  margin-left: auto;
}

.bubble.other {
  background: white;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.input-area input {
  flex: 1;
  padding: 10px;
}

.input-area button {
  padding: 10px 15px;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111b21;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-card button {
  width: 100%;
  padding: 10px;
}

.toggle {
  margin-top: 10px;
  cursor: pointer;
  color: blue;
}

.dashboard {
  padding: 40px;
}

.group-box {
  margin-top: 20px;
}
